@model CollectionPR.ViewModels.EditItemViewModel
@using CollectionPR.Services.Interfaces

@{
    var collectionService = ViewBag.collectionService as ICollectionService;
    var itemService = ViewBag.itemService as IItemService;

    var collectionId = ViewBag.collectionId is int ? (int)ViewBag.collectionId : 0;
    var itemId = ViewBag.itemId;

    var currentCollection = collectionService!.GetCollectionById(collectionId);
    var editingItem = itemService!.GetItemById(itemId);
}

<link rel="stylesheet" title="theme" href="#">
<link rel="stylesheet" type="text/css" href="~/css/CreateCollection/CreateCollection.css"/>


<form method="post" action="/Home/EditItem/@collectionId/@itemId" enctype="multipart/form-data">
    
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" name="itemId" value="@itemId" asp-for="ItemId"/>
    @if (editingItem!.FileName != "")
    {
        <div class="drop-zone col-4" style="margin-bottom: 20px">
            <div class="drop-zone__thumb" style="background-image: url('@(editingItem!.FileName)');">
            </div>
            <span class="drop-zone__prompt theme-main-text"></span>
            <input type="file" name="myFile" class="drop-zone__input" accept="image/*"/>
        </div>
    }
    else
    {
        <div class="drop-zone col-4">
            <span class="drop-zone__prompt lng-DropImage lng-DropImageCollection theme-main-text">Drop file here or click to upload</span>
            <input type="file" name="myFile" class="drop-zone__input" accept="image/*"/>
        </div>
    }
    
    <br/>
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text lng-CollectionTitle">Title:</span>
        </div>
        <input type="text" class="form-control" name="Title" aria-label="Title" value="@editingItem!.Title" asp-for="Title">
        <span asp-validation-for="Title"></span>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text lng-CollectionSmallDescription">Description:</span>
        </div>
        <textarea type="text" class="form-control" name="Description" aria-label="Description" value="@editingItem!.Description" asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>

    <br/>
    
    @if (currentCollection!.AddDates == "true")
    {
        var className = "lng-" + currentCollection!.Theme + "Date";

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text @className"></span>
            </div>
            <input type="date" class="form-control" name="Date" aria-label="Date" value="@editingItem.Date" asp-for="Date">
        </div>

        <br/>
    }

    @if (currentCollection!.AddBrands == "true")
    {
        var className = "lng-" + currentCollection!.Theme + "Brand";

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text @className"></span>
            </div>
            <input type="text" class="form-control" name="Brand" aria-label="Date" value="@editingItem.Brand" asp-for="Brand">
        </div>

        <br/>
    }
    
    <button type="submit" class="btn btn-success lng-Edit theme-main-text">Create</button>
</form>

<script src="/js/ChangeLanguage.js"></script>
<script src="/js/ChangeTheme.js"></script>
<script src="/js/CreateCollection.js"></script>
<script src="/js/DropZone.js"></script>

<script>   
    let pageTitle = (getCurrentLanguage() === 'en') ? 'Add Item Page - CollectionPR' : 'Добавление предмета - CollectionPR';
         
    document.querySelector('title').innerHTML = pageTitle;
</script>